<div class="navbar-dark nav-tamanho float-left bg-dark text-center w-15 py-3">
            <button class="navbar-toggler w-50" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon w-50"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container">
                    <div class="row">
                        <div class="col-12 my-5">
                            <a href="/salarios" class="a-none">
                                <div class="row">
                                    <div class="col-4 text-center">
                                        <i class="fas color-white fa-2x fa-money-bill-wave"></i>
                                    </div>
                                    <div class="col-8 text-left">
                                        <p class="font-nav">Sal&aacute;rios</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 my-5">
                            <a href="/objetivos" class="a-none">
                                <div class="row">
                                    <div class="col-4 text-center">
                                        <i class="fas color-white fa-2x fa-bullseye"></i>
                                    </div>
                                    <div class="col-8 text-left">
                                        <p class="font-nav">Objetivos</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 my-5">
                            <a href="/metas" class="a-none">
                                <div class="row">
                                    <div class="col-4 text-center">
                                        <i class="fas fa-2x color-white fa-award"></i>
                                    </div>
                                    <div class="col-8 text-left">
                                        <p class="font-nav">Metas</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 my-5">
                            <a href="/poupanca" class="a-none">
                                <div class="row">
                                    <div class="col-4 text-center">
                                        <i class="fas fa-2x color-white fa-piggy-bank"></i>
                                    </div>
                                    <div class="col-8 text-left">
                                        <p class="font-nav">Poupan&ccedil;a</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>